<div class="container">
  <div class="row">
    <%= render @lists %>
  </div>
  <%= link_to "Create a new list", lists_new_path, class: "btn btn-primary" %>
</div>

<img src="<%= cl_image_path("w2lhqubtqnfzlgnkuodc.jpg") %>" alt="">
