<div class="container">
  <div class="row">
    <%= render @lists %>
  </div>
  <%= link_to "Create a new list", lists_new_path, class: "btn btn-primary" %>
</div>

<%= cl_image_tag("w2lhqubtqnfzlgnkuodc",
      width: 400, height: 300, crop: :fill) %>
